# Day 1

* **Objective** : Today, we're discussing data types.


#### Task

1. Declare 3 variables: one of type int, one of type double, and one of type String.
2. Read 3 lines of input from stdin (according to the sequence given in the Input Format section below) and initialize your  variables.
3. Use the + operator to perform the following operations:
   1. Print the sum of  plus your int variable on a new line.
   2. Print the sum of  plus your double variable to a scale of one decimal place on a new line.
   3. Concatenate  with the string you read as input and print the result on a new line.

**Input Format**

* The first line contains an integer that you must sum with i.
* The second line contains a double that you must sum with d.
* The third line contains a string that you must concatenate with s.

**Output Format**

Print the sum of both integers on the first line, the sum of both doubles (scaled to 1 decimal place) on the second line, and then the two concatenated strings on the third line.

**Sample Input**

12
4.0
is the best place to learn and practice coding!
Sample Output

**Sample Output**
16
8.0
HackerRank is the best place to learn and practice coding!

**Explanation**

* When we sum the integers 4 and 12, we get the integer 16 .
* When we sum the floating-point numbers 4.0 and 4.0 , we get 8.0 .
* When we concatenate **HackerRank** with **is the best place to learn and practice coding!**, we get **HackerRank is the best place to learn and practice coding!**.

In [8]:
i = 4
d = 4.0
s = 'HackerRank '
# Declare second integer, double, and String variables.

# Read and save an integer, double, and String to your variables.
I = int(input())
D = float(input())
S = str(input())
# Print the sum of both integer variables on a new line.
print(i+I)
# Print the sum of the double variables on a new line.
print(d+D)
# Concatenate and print the String variables on a new line
print(s + S)
# The 's' variable above should be printed first.

12
4.0
is the best place to learn and practice coding!
16
8.0
HackerRank is the best place to learn and practice coding!

### Objective
### Task
* Given a string, S, of length N that is indexed from 0 to N-1, print its even-indexed and odd-indexed characters as 2 space-separated strings on a single line (see the Sample below for more detail).
* Note: 0 is considered to be an even index.
* Example
* s = sumital 
* Print smtl uia

### Input Format

* The first line contains an integer, T (the number of test cases).
* Each line i of the T subsequent lines contain a string, S .

### Constraints
* 1 <= T <= 10
* 2 <= len(string) <= 10000

In [7]:
T = int(input())
if 1 <= T <= 10:
    for j in range(T):
        in_str = str(input())
        if 2 <= len(in_str) <= 10000:
            str1 = ''
            str2 = ''
            for i in range(len(in_str)):
                if i % 2 == 0:
                    str1+=in_str[i]
                else:
                    str2+=in_str[i]
            print('{} {}'.format(str1,str2))

1
sumit
smt ui

## for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

**Example**
* Marks Key:Value pair are
* 'alpha' : [20,30,40]
* 'beta' : [30,50,70]
* query_name = 'beta'
* The query_name is 'beta'. beta's average score is (30 + 50 + 70)/3 = 50.0.

**Input Format**

* The first line contains the integer n, the number of students' records. The next n lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

**Constrains**
* 2 <= n <= 10
* 0 <= marks[i] <= 100
* length of marks array = 3

**Output Format**

* Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

**Sample Input**
* 3
* Krishna 67 68 69
* Arjun 70 98 63
* Malika 52 56 60
* Malika

In [1]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    if 2 <= n <= 10 :
        for _ in range(n):
            name, *line = input().split()
            scores = list(map(float, line))
            if len(scores) == 3 and all(map(lambda x : 0 <= x <= 100,scores)) :
                student_marks[name] = scores
            else:
                raise Exception('Length of score list must be 3 and each element of list should be between 0 to 100')
    else:
        print('Number of records must be between 2 to 10')
                
    query_name = input()
    query_score = student_marks[query_name]
    avg_score = sum(query_score)/len(query_score)
    print("{0:.2f}".format(avg_score))

2
sumit 90 91 92
mittal 90 90 90
mittal
90.00

# Day 7 : Arrays

### Objective
* Today, we will learn about the Array data structure. Check out the Tutorial tab for learning materials and an instructional video.

### Task
* Given an array, A, of N integers, print A's elements in reverse order as a single line of space-separated numbers.

**Example**


* Print 4 3 2 1. Each integer is separated by one space.

**Input Format**

The first line contains an integer, N (the size of our array).
The second line contains N space-separated integers that describe array A's elements.

**Constraints**
* 1 <= N <= 1000
* 1 <= A[i] <= 10000 where A[i] is the ith integer in the array.

**Output Format**

Print the elements of array A in reverse order as a single line of space-separated numbers.

In [15]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input())
    if 1 <= n <= 1000:
        arr = list(map(int, input().rstrip().split()))
        if all(map(lambda x : 1 <= x <= 10000, arr)):
            for i in reversed(arr):
                print(i,end=' ')
        else :
            raise Exception('Each array element must be between 1 to 10000')
            
    else:
        raise Exception('Length of array must be between 1 to 1000')

4
1 2 3 4
4 3 2 1

In [ ]:
# Random Challenge

## The Great XOR
* Given a long integer **x**, count the number of values of **a** satisfying the following conditions:
  * a XOR x > x
  * 0 < a < x
  

* where **a** and **x** are long integers and  is the bitwise XOR operator.

* You are given **q** queries, and each query is in the form of a long integer denoting **x** . For each query, print the total number of values of **a** satisfying the conditions above on a new line. 

* For example, you are given the value x=5 . Condition 2 requires that a < x . The following tests are run:
  * 1 XOR 5 = 4
  * 2 XOR 5 = 7
  * 3 XOR 5 = 6
  * 4 XOR 5 = 1


* We find that there are 2 values meeting the first condition:  and .

**Function Description**

* Complete the theGreatXor function in the editor below. It should return an integer that represents the number of values satisfying the constraints.

* theGreatXor has the following parameter(s):

  * x: an integer
**Input Format**

* The first line contains an integer q, the number of queries.
* Each of the next q lines contains a long integer describing the value of x for a query.

In [33]:
import math
import os
import random
import re
import sys

# Complete the theGreatXor function below.
def theGreatXor(x):
    value = 1
    while value <= x:
        value *= 2
    return value -1 -x

q = int(input('Enter the total number of query ==> '))
for i in range(q):
    x = int(input('Enter value ==> '))
    count = theGreatXor(x)
    print('Total value which satisfies our condition is ==> ',count)

Enter the total number of query ==> 2
Enter value ==> 2
Total value which satisfies our condition is ==>  1
Enter value ==> 10
Total value which satisfies our condition is ==>  5